#Week_1 Notes

In [1]:
# run as a block code, interactively
b = 100
print b

100

In [2]:
x, y = 1, 100
x, y = y, x
print x, y

100 1

### Chapter 1. Data Science

In [3]:
b = 3

In [4]:
a + b

4

In [5]:
a = 1

In [8]:
a.imag
# attribute
# method

0

In [9]:
c = 'test'

In [11]:
c.upper()

'TEST'

In [14]:
c.find('x')

-1

In [16]:
c.find('es')

1

In [17]:
c.find?

In [19]:
c = "Paris,Sunny,France"

In [21]:
d = c.split(",")

In [22]:
d

['Paris', 'Sunny', 'France']

In [24]:
"908".zfill(5)

'00908'

In [25]:
a = 1
b = 'True'

c = a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
a = 1
b = True

c = a + b
print c

2

In [29]:
1.2 + 'TEXT'

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [30]:
atuple = ('test', 1)

In [31]:
atuple[0].upper()

'TEST'

In [32]:
atuple

('test', 1)

In [36]:
import numpy as np
import random
names = ['Jason', 'John', 'Zoey', 'Emily', 'Amenda', 'Jake', 'Lisa', 'Pam', 'Peter']  # names
random.seed(0)
times = random.randint(20, 30)  # how many times a game runs

np.random.seed(101)
game_list = list(np.random.choice(names, size=times, replace=True))
random.seed(111)
score_list = [round(10. * random.random(), 0) for i in range(times)]

print game_list
print score_list

['John', 'Lisa', 'Pam', 'Peter', 'Amenda', 'Peter', 'Jake', 'Jason', 'Jake', 'Peter', 'John', 'Emily', 'Peter', 'Emily', 'Emily', 'Zoey', 'Peter', 'Emily', 'Pam', 'Jason', 'Pam', 'Peter', 'Amenda', 'Emily', 'Emily', 'Pam', 'Amenda', 'Peter', 'Pam']
[8.0, 2.0, 9.0, 5.0, 4.0, 6.0, 2.0, 2.0, 4.0, 2.0, 7.0, 4.0, 4.0, 3.0, 2.0, 7.0, 9.0, 4.0, 8.0, 3.0, 8.0, 2.0, 6.0, 4.0, 9.0, 8.0, 1.0, 1.0, 5.0]

In [34]:
np.random.choice?

In [37]:
len(game_list)

29

In [38]:
sum(score_list)

139.0

In [39]:
set(game_list)

{'Amenda', 'Emily', 'Jake', 'Jason', 'John', 'Lisa', 'Pam', 'Peter', 'Zoey'}

In [40]:
len(set(game_list))

9

In [41]:
adict = {}
for i in range(len(game_list)):
    if game_list[i] in adict:
        adict[game_list[i]] += score_list[i]
    else:
        adict[game_list[i]] = score_list[i]
print adict

{'Amenda': 11.0, 'Peter': 29.0, 'Jason': 5.0, 'Zoey': 7.0, 'Jake': 6.0, 'Lisa': 2.0, 'John': 15.0, 'Pam': 38.0, 'Emily': 26.0}

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [48]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.75,NaN,Q

In [52]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [53]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [54]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
5,False,False,False,False,False,True,False,False,False,False,True,False
6,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,True,False
8,False,False,False,False,False,False,False,False,False,False,True,False
9,False,False,False,False,False,False,False,False,False,False,True,False
10,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,True,False
13,False,False,False,False,False,False,False,False,False,False,True,False
14,False,False,False,False,False,False,False,False,False,False,True,False
15,False,False,False,False,False,False,False,False,False,False,True,False
16,False,False,False,False,False,False,False,False,False,False,True,False
17,False,False,False,False,False,True,False,False,False,False,True,False
18,False,False,False,False,False,False,False,False,False,False,True,False
19,False,False,False,False,False,True,False,False,False,False,True,False
20,False,False,False,False,False,False,False,False,False,False,True,False
21,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,True,False
23,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,True,False
25,False,False,False,False,False,False,False,False,False,False,True,False
26,False,False,False,False,False,True,False,False,False,False,True,False
27,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,True,False,False,False,False,True,False
29,False,False,False,False,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
861,False,False,False,False,False,False,False,False,False,False,True,False
862,False,False,False,False,False,False,False,False,False,False,False,False
863,False,False,False,False,False,True,False,False,False,False,True,False
864,False,False,False,False,False,False,False,False,False,False,True,False
865,False,False,False,False,False,False,False,False,False,False,True,False
866,False,False,False,False,False,False,False,False,False,False,True,False
867,False,False,False,False,False,False,False,False,False,False,False,False
868,False,False,False,False,False,True,False,False,False,False,True,False
869,False,False,False,False,False,False,False,False,False,False,True,False
870,False,False,False,False,False,False,False,False,False,False,True,False
871,False,False,False,False,False,False,False,False,False,False,False,False
872,False,False,False,False,False,False,False,False,False,False,False,False
873,False,False,False,False,False,False,False,False,False,False,True,False
874,False,False,False,False,False,False,False,False,False,False,True,False
875,False,False,False,False,False,False,False,False,False,False,True,False
876,False,False,False,False,False,False,False,False,False,False,True,False
877,False,False,False,False,False,False,False,False,False,False,True,False
878,False,False,False,False,False,True,False,False,False,False,True,False
879,False,False,False,False,False,False,False,False,False,False,False,False
880,False,False,False,False,False,False,False,False,False,False,True,False
881,False,False,False,False,False,False,False,False,False,False,True,False
882,False,False,False,False,False,False,False,False,False,False,True,False
883,False,False,False,False,False,False,False,False,False,False,True,False
884,False,False,False,False,False,False,False,False,False,False,True,False
885,False,False,False,False,False,False,False,False,False,False,True,False
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [56]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [57]:
df.isnull().sum(axis=0)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64